---
const { title = "About" } = Astro.props;
---

<section class="py-[400px] bg-[#609d9f] flex flex-col gap-[170px] justify-center items-center">
  <h2 class="text-[50px] font-bold">{title}</h2>
  <p class="text-[30px] font-bold">画面内に要素が入ったときにアニメーションが発火するよ〜</p>
  <p class="text-[30px] font-bold">左から失礼〜</p>
  <p class="text-[30px] font-bold">右から失礼〜</p>
</section>
