---
---

<section class="h-screen bg-[linear-gradient(135deg,#20222c,#3e497a)] text-white flex items-center justify-center text-center flex-col">
  <div class="max-w-[600px]">
    <h1 class="hero-fadein">Create Motion with Astro</h1>
    <p class="hero-fadein">Lightweight, smooth, and easy to implement animations.</p>
    <button class="hero-fadein mt-[1.5rem] bg-white text-[#3e497a] border-none py-[0.8rem] px-[1.5rem] rounded-[4px] cursor-pointer font-semibold">押す</button>
  </div>
</section>

<script src="../scripts/heroAnime.ts"></script>